<div class="login-container container">
  <div class="col-md-6 col-md-offset-3 loginBox">
      <h3 style="text-align: center;margin-bottom: 20px;">Sign Up</h3>
      <p *ngIf="message" class="text-center error">{{message}}</p>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group clearfix" [ngClass]="{ 'has-error': submitted && getLoginFormControls.username.errors }">
            <div class="col-md-9 col-sm-7 col-xs-12">
                <input type="text" class="form-control" formControlName="username" placeholder="username"/>
                <div *ngIf="submitted && getLoginFormControls.username.errors" class="help-block">
                      <div *ngIf="getLoginFormControls.username.errors.required">username is required</div>
                </div>
            </div>
        </div>
        <div class="form-group clearfix" [ngClass]="{ 'has-error': submitted && getLoginFormControls.password.errors }">
          <div class="col-md-9 col-sm-7 col-xs-12">
              <input type="password" class="form-control" formControlName="password"  placeholder="username"/>
              <div *ngIf="submitted && getLoginFormControls.password.errors" class="help-block">
                      <div *ngIf="getLoginFormControls.password.errors.required">Password is required</div>
              </div>
          </div>
        </div>
        <div class="col-xs-12 form-group text-right">
          <button class="btn btn-info" (click)="signUp()">Register</button>
        </div>
    </form>
  </div>
</div>




<!-- <div class="container">
    <div class="col-md-6 col-md-offset-3 loginBox">
        <h3>Sign Up</h3>
        <p *ngIf="message" class="text-center error">{{message}}</p>
      <form [formGroup]="signupForm" (ngSubmit)="register()">
          <div class="form-group clearfix" [ngClass]="{ 'has-error': submitted && getFormControls.username.errors }">
              <label for="username" class="col-md-3 col-sm-5 col-xs-12">username</label>
              <div class="col-md-9 col-sm-7 col-xs-12">
                  <input type="text" class="form-control" formControlName="username" />
                  <div *ngIf="submitted && getFormControls.username.errors" class="help-block">
                        <div *ngIf="getFormControls.username.errors.required">username is required</div>
                  </div>
              </div>
          </div>
          <div class="form-group clearfix" [ngClass]="{ 'has-error': submitted && getFormControls.password.errors }">
            <label for="password" class="col-md-3 col-sm-5 col-xs-12">Password</label>
            <div class="col-md-9 col-sm-7 col-xs-12">
                <input type="password" class="form-control" formControlName="password"/>
                <div *ngIf="submitted && getFormControls.password.errors" class="help-block">
                        <div *ngIf="getFormControls.password.errors.required">Password is required</div>
                </div>
            </div>
          </div>
          <div class="col-xs-12 form-group text-right">
            <button class="btn btn-success" type="submit">Sign Up</button>
          </div>
      </form>
    </div>
</div> -->
